<% if devise_error_messages? %>
  <div class="devise-error-messages">
    <div class="col-xs-10" style="padding: 0;">
      <%= devise_error_messages! %>
    </div>
  </div>
  <div style="clear: both;" />
<% end %>